<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h3 class="title">Hey, I’m Jules—nice to meet you!</h3>
      <p class="subtitle subtitle--light">I’m a designer, researcher, facilitator, and educator. With over 16 years of experience in UX, I have a knack for crystallizing solutions in complex problem spaces.
      </p>
      <p>As a UX leader, I drive vision and execution to achieve strategic outcomes through actionable insights, coaching, and partnership. As a people manager, I grow my team by cultivating self-awareness through continual feedback. I enjoy igniting each individual's <em>unique spark</em> with personalized growth milestones.
      </p>
      <p>My hands-on skills encompass the end-to-end product design process from defining the problem and conducting user discovery to iterating on design concepts and creating interactive prototypes. I am technically fluent and appreciate architecture patterns.
      </p>
      <p> thrive on collaborating with empowered product teams. As an agile champion, I seamlessly integrate Design and Research with product development, using Lean UX and design sprints to build shared understanding, foster team cohesion, and deliver measurable results.
      </p>
      <p>I’m currently looking to join forces with empowered teams solving gnarly problems. Don't hesitate to get in touch!</p>

<!--  original About CTA
    <a href="#" class="cta button--fill contact-trigger js-contact">Send a note</a> -->
    <a href="https://cal.com/jules-monza/intro-convo" class="cta button--fill">Schedule a chat</a>
    </div>
  </div>
</section>