<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Hey, I’m Jules—nice to meet you!</h2>
      <p class="subtitle subtitle--light">I’m a designer, researcher, facilitator, and educator with over 16 years of experience expertise in complex B2B + B2C product spaces.
      </p>

      <p>My skills encompass the end-to-end product design design process from defining the problem and hypothesis, to conducting user discovery, creating and iterating on design concepts, and creating interactive prototypes at whatever level of fidelity makes sense.</p>
      <p>I’m currently looking to join forces with empowered teams solving gnarly problems. Don't hesitate to get in touch!</p>

<!--  original About CTA
    <a href="#" class="cta button--fill contact-trigger js-contact">Send a note</a> -->
    <a href="https://cal.com/jules-monza/intro-convo" class="cta button--fill">Schedule a chat</a>
    </div>
  </div>
</section>