/* THEME OVERRIDES */

// Hanging punctuation

/*
.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}
*/

ul, ol {
  list-style-position: outside;
  padding-left: 1.5em;
}

ul li::before,
ol li::before {
  content: "";
  display: inline-block;
  width: 1.5em;
  margin-left: -1.5em;
  text-indent: -1.5em;
}

.project__preview .owl-nav button svg {
  fill: $accent-color;
}

.snapshot__sidebar {
  fill: $background-alt-color;
  border-radius: 1em;
}

.snapshot__item {
  padding: 10px 20px;
  fill: pink;
}