.synopsis__card-A {
    display: grid;
    grid-template-areas: 
        "heading3a heading3a heading3a tagsA  tagsA"
        "heading4a heading4a heading4a emptyA emptyA"
        "thumbA    thumbA    thumbA    blurbA blurbA
        "thumbA    thumbA    thumbA    btnA   btnA"
}

//decide whether to keep the divs currently assigned these classes
.cardBox_1a h3  {grid-area: heading3; }
.cardBox_2a     {grid-area: tags; }
.cardBox_1a h4  {grid-area: heading4; }
.cardBox_3a     {grid-area: thumb; }
.cardBox_4a     {grid-area: blurb;}
.cardBox_5a     {grid-area: btn;}


synopsis__card-B {
    display: grid;
    grid-template-areas: 
        "heading3b heading3b heading3b emptyB  emptyB"
        "tagsB     tagsB     tagsB     emptyB  emptyB"
        "thumbB    thumbB    thumbB    blurbB  blurbB
        "heading2  heading2  heading2  btnB    btnA"
}

//decide whether to keep the divs currently assigned these classes or assign the classes at the element level (consider display inline vs block, etc.)
.cardBox_1b {grid-area: heading3b; }
.cardBox_2b {grid-area: tagsB; }
.cardBox_3b {grid-area: thumbB; }
.cardBox_4b {grid-area: blurbB; }
.cardBox_5b {grid-area: btnB; }

