---
layout: default
---

{% if page.accent_color %}{% capture accent_color %}{{ page.accent_color }}{% endcapture %}{% endif %}

<div class="page-project" style="--accent: {{ accent_color }}">

	<header class="post__header header--single">

		<div class="wrap">
			<h1 class="post__title">{{ page.title }}</h1>
			<h2 class="post__subtitle subtitle--light">{{ page.subtitle }}</h2>
		</div>

		<img src="{{ '/images/projects/' | relative_url}}{{ page.featured_image }}" class="post__featured-image">

	</header>


    <div class="wrap grid">

    <!-- col 1 -->
      <section class="post-full">
<!--	<div class="wrap">
		  <div class="grid"> -->
        <div class="grid__2-col-major-minor">
            <div class="post__content {% if page.highlight_first %}highlight-first{% endif %}">
                {{ page.content }}
                <!-- when implementing ToC plugin, add "| inject anchors" filter  -->
            </div>
        </div>
<!--	  </div> end div.grid
		</div> end div.wrap -->

	  </section>
        
      <aside class="caseStudy__sidebar">
          <div class="grid__1-col">
            <div class="sidebar__snapshot">
                <div class="sidebar__info">
                    <h6>Project Snapshot</h6>
                    <ul>
                      <li class="sidebar__li"><strong>Industry:</strong> {{ page.snapshot_industry }}</li>
                      <li class="sidebar__li"><strong>Category:</strong> {{ page.snapshot_category }}</li>
                      <li class="sidebar__li"><strong>Tech stack:</strong> {{ page.snapshot_techStack }}</li>
                      <li class="sidebar__li"><strong>Timeframe:</strong> {{ page.snapshot_timeframe }}</li>
                      <li class="sidebar__li"><strong>My role:</strong> {{ page.snapshot_myRole }}</li>
                    </ul>
                </div>
                <div class="sidebar__info">
                    <h6>Objective</h6>
                    <p>{{ page.objective }}</p>
                </div>
                <div class="sidebar__info">
                    <h6>Team Players</h6>
                    <p>{{ page.team_players }}</p>
                </div>
                <div class="sidebar__info">
                    <h6>Approach</h6>
                    <p>{{ page.approach }}</p>
                </div>
                <div class="sidebar__info">
                    <h6>Key Results</h6>
                    <p>{{ page.key_results }}</p>
                </div>
            </div>
            <div class="toc__block" id="table-of-contents">
              <!-- TOC LIQUID ONLY WORKS IN POSTS & COLLECTIONS {% toc %} 
                    use the filter & anchor injection instead
              -->
              {{ page.content | toc_only }}
            </div>
          </div>
    
    </aside> 
        
  </div> <!-- end div.wrap grid -->

	{% include section__about.html divider=true %}
</div>